AWS_REGION=eu-west-1
OPENSEARCH_HOST=search-your-domain-name.eu-west-1.es.amazonaws.com
BUCKET_NAME_DICOM=your-dicom-bucket-name
NEXT_PUBLIC_API_URL=https://<api-id>.execute-api.<region>.amazonaws.com/<stage>