# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
.eggs/
*.egg

# Node
node_modules/
.next/
out/
.env
.env.local
.env.production

# AWS CDK
infrastructure/cdk.out/

# ML artifacts
ml/training/data/
ml/training/dat/
ml/*.tar.gz
*.pt
*.pth

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

lab_serverless_user_accessKeys.csv

# Secrets / keys
*.pem

# Large installers
*.sh_installer
Miniconda3*.sh

# Lambda build artifacts
**/function.zip

# --------------

# Data
data_ingestion/vindr_dicoms/*
data_ingestion/vindr_results/*
data_ingestion/rag_docs/*
