AWS_REGION=<AWS_REGION>
BEDROCK_MODEL_ID=arn:aws:bedrock:<AWS_REGION>:<AWS_ACCOUNT_ID>:inference-profile/eu.anthropic.claude-sonnet-4-5-20250929-v1:0
OPENSEARCH_HOST=<OPENSEARCH_HOST>
INDEX_NAME=luna-rag-index
TABLE_NAME=luna-chat-history